* {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  height: 100%;
  width: 15%;
}

#linkbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 100%;
}

#linkbar a {
  color: white;
}

#linkbar a:hover {
  color: aqua;
  background-color: white;
}

#searchbar {
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border-bottom: 3px solid black;
}

#searchbar img{
  width: 20px;
  height: 20px;
}

#profile{
  text-align: center;
}
#profile a{
  text-decoration: none;
  color: white;
}

#profile img {
  width: 7%;
  height: 7%;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 2%;
  width: 100%;
}

.panel {
  border: 2px solid black;
  margin: 2px;
  height: 25%;
  width: 20%;
}

article img {
  height: 80%;
  width: 95%;
  margin: 5px;
}

article h2, article h3{
  margin: 0;
}